
/*#sidebar{width:250px;position:absolute;top:0;bottom:0;background-color:#222;}
#content{margin-left:250px;}*/


input:required {
  background: #ffe6e6;
}

/*[class^="fa-"], [class*=" fa-"] {
    display: inline-block;
    width: 100%;
}*/

tr.group,
tr.group:hover {
	font-size:20px;
    background-color: #ddd !important;
}


