<!DOCTYPE html>
<html lang="en-us" class="no-js">
	<head>
	
		<meta charset="utf-8">
		<title> Real Estate</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-production-plugins.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-skins.min.css">
		
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-angular.css">

		<!-- SmartAdmin RTL Support (Not using RTL? Disable the CSS below to save bandwidth) -->
		<link rel="stylesheet" type="text/css" media="screen" href="styles/css/smartadmin-rtl.min.css">

		<link rel="stylesheet" type="text/css" media="screen" href="css/style.css">

	</head>

	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!-- <div id="sidebar-main">
			<nav>
				<ul id="nav-main">
					<li class="active"><a href="{{url('/')}}">Real Estate</a></li>
					<li><a href="{{url('for-landords')}}">For Landlords</a></li>
					<li><a href="{{url('for-tenants')}}">For Tenants</a></li>
					<li><a href="#">Features &amp; Pricing</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">About Us</a></li>
				</ul>
			</nav>
		</div>
		<div id="main-main">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Real Estate</h1>
						<h3>Tagline</h3>
					</div>
					<div class="col-md-6">
						<div class="pull-right">
							<a href="{{url('register')}}" class="btn btn-default">Sign Up</a>
							<a href="{{url('login')}}" class="btn btn-default">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<!--[if lt IE 9]>
			<script src="plugin/es5-shim/es5-shim.js"></script>
			<script src="plugin/json3/lib/json3.min.js"></script>
		<![endif]-->

		<script src="build/vendor.js"></script>
	</body>
</html>